<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">



      <bean id = "ticketvenderMachine" class = "com.concretepage.bean.TicketVenderMachine" scope = "singleton">
        <lookup-method name = "generateTicket" bean = "ticket"/>
      </bean>
      
      <bean id = "ticket" class = "com.concretepage.bean.Ticket" scope="prototype"></bean>



	<!-- <bean id="BaseCustomerMalaysia" class="com.concretepage.inheritance.Customer">
		<property name="country" value="Malaysia" />
	</bean>

	<bean id="CustomerBean" class="com.concretepage.inheritance.Company" parent="BaseCustomerMalaysia">
		<property name="action" value="buy" />
		<property name="type" value="1" />
	</bean> -->
	
</beans>